.results-message {
  text-align: center;
}

.result-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

ul {
  width: 100%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid blue;
  color: blue;
  cursor: pointer;
}

a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: blue;
}