.results-message {
  text-align: center;
}

.pagination-navigation {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  margin: auto;
}

.previous-button,
.next-button {
  padding: 1.5rem;
  width: 8rem;
  border: none;
  font-size: x-large;
  background-color: #2B2D42;
  color: #EDF2F4;
}

.previous-button:hover,
.next-button:hover {
  cursor: pointer;
  transition: all .5s;
  opacity: .8;
}

.previous-button {
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.next-button {
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.result-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}