.product-card {
  margin: 1rem;
  padding: 1rem;
  border: solid black 2px;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prouct-name {
  margin: 0;
}

.prices {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.previous-price {
  color: lightslategray;
  margin-left: .75rem;
}

.current-price {
  color: #FF3131;
}
