.product-card {
  margin: 1rem;
  padding: 1rem;
  border: solid #2B2D42 2px;
  width: 14.5rem;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background-color: #2B2D42;
  color: #EDF2F4;
  box-shadow: 10px 5px 5px #8D99AE;
}

.product-image {
  width: 15rem;
  height: 21rem;
  border-radius: 10px;
}

.prices {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.previous-price {
  color: #8D99AE;
  margin-left: .75rem;
}

.current-price {
  color: #EF233C;
}
