.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.heading-container {
  padding: .75rem;
  margin: .75rem;
  display: flex;
  flex-direction: column;
}

.title {
  margin: auto;
}

.about-us {
  padding: .5rem;
  margin: .5rem;
}

.search-and-cart {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.search-input {
  height: 2rem;
  border-radius: 10px;
  border: auto;
}

.icon {
  width: 2rem;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
  opacity: .7;
}

.search-container {
  padding: 1rem 1rem;
  display: flex;
  background-color: orange;
  border-radius: 20px;
}

.search-icon {
  border: solid black 3px;
  border-radius: 10px;
}

.cart {
  padding: .5rem;
  margin: .5rem;
  display: flex;
}