@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: -webkit-linear-gradient(#8D99AE, #2B2D42);
  border-bottom: solid;
  width: 100vw;
  font-family: 'Eagle Lake', cursive;
}

.heading-container {
  padding: .75rem;
  margin: .75rem;
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  align-items: center;
  background-color: #EDF2F4;
  padding: .5rem;
  margin: .5rem;
  border-radius: 20px;
  border: solid black 2px;
  font-size: large;
}

.logo{
  margin: auto;
  width: 6rem;
}

.about-us {
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  color: #EDF2F4;
}

.search-and-cart {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}

.search-input {
  height: 2rem;
  border-radius: 10px;
  border: auto;
}

.search-icon:hover,
.cart:hover,
.app-title:hover,
.about-us:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
  opacity: .7;
}

.search-container {
  padding: 1rem 1rem;
  display: flex;
  background-color: #D90429;
  border: solid black 2px;
  border-radius: 30px;
}

.search-icon {
  width: 2rem;
  border: solid black 3px;
  border-radius: 10px;
  background-color: #EDF2F4;
}

.cart {
  padding: .5rem;
  margin: .5rem;
  display: flex;
  background-color: #D90429;
  border: solid black 2px;
  border-radius: 15px;
}

.cart-icon {
  width: 3rem;
}

@media (max-width: 480px) {
  .navbar {
    width: 50rem;
  }
}